/*Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

/* Variaveis */
 :root{
     --main-color: #bc9667;
     --second-color: #edeae3;
     --text-color: #1b1b1b;
     --bg-color: #fff;

     /* Box Shadow */
     --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15% );
     --box-shadow-hover: 3px 3px 10px 5px rgb(14 55 54 / 18% )
 }
 /*--------------------------------*/

/* section{
    padding: 50px 100px;
} */

img{
    width: 100%;
 }

body{
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    transition: 0.5s linear;
    background-color: var(--text-color);
}

.logo img{
    width: 60px;
}

.navbar{
    display: flex;
}

.navbar a{
    padding: 8px 17px;
    color: var(--bg-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover{
    background: var(--main-color);
    border-radius: 0.2rem;
    transition: 0.2s all linear;
}

.header-icons{
    /* font-size: 22px; */
    cursor: pointer;
    z-index: 10000;
    display: flex;
    gap: 0.8rem;
}

.header-icons .shopp , .header-icons .search{
    fill: var(--bg-color)
}

.header-icons .shopp:hover{
    fill: var(--main-color)
}

.header-icons .search:hover{
    fill: var(--main-color)
}

#menu-icon{
    fill: var(--bg-color);
    font-size: 24px;
    z-index: 100001;
    cursor: pointer;
    display: none;
}

.search-box{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%);
    background: var(--bg-color);
    width: 100%;
}

.search-box.active{
    top: 100%;
    box-shadow: var(--box-shadow);
    transition: 0.2s all linear;
}

.search-box input{
    padding: 20px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    color: var(--main-color);
}

.search-box input::placeholder{
    font-size: 1rem;
    font-weight: 500;
}

.home{
    width: 100%;
    min-width: 100vh;
    background: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto)) ;
    align-items: center;
    gap: 1.5rem;
    padding: 50px 100px;
}

.home-text h1{
    font-size: 3.4rem;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.home-text p{
    font-size: 0.93rem ;
    color: var(--bg-color);
    margin: 0.5rem 0 1.4rem;
}

.btn{
    padding: 10px 40px;
    border-radius: 0.3rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 500;
}

.btn:hover{
    background: #8a6f4d ;
}

.about{

    width: 90%;
    margin: 0 auto;
    padding: 50px 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;

}

.about-img , .about-text{
    
    width: 500px;
    height: 380px;
}

.about-img img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}


.about-text h2{
    font-size: 1.8rem;
    text-transform: uppercase;
    /* width: 50%; */
}

.about-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.1rem;
}

.products {
    max-width: 1024px;
    margin: 0 auto;
    padding: 50px 100px;
}

.products h2{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto)) ;
    /* align-items: center; */
    gap: 1.5rem;
    margin-top: 2rem;
}

.products-container .box{
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}

.products-container img{
    width: 100%;
    height: 250px;
    object-fit: contain;
    object-position: center;
    padding: 20px;
    background: #f1f1f1;
    border-radius: 0.5rem;
}

.products-container .box h3{
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0.5rem 0 0.5rem;
}

.products-container .box .content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.products-container .box .content span{
    padding: 0 1rem;
    color: var(--bg-color);
    background: var(--main-color);
    border-radius: 4px;
    font-weight: 600;
}

.products-container .box .content a{
    padding: 0 1rem;
    fill: var(--text-color);
    border-radius: 4px;
}

.products-container .box .content a:hover{
   fill: var(--main-color);
   /* background: var(--main-color); */
   transition: 0.2s all linear;
}

.more{
    width: 100%;
    margin-top: 20px;
}

.more .btn-more{
    
    width: 120px;
    position: relative;
    font-weight: 600;
}

.more-btn-products{
    left: 85%;
}

.more-btn-customers{
    left: 80%;
}

.more .btn-more a{
    display: flex;
    gap: 5px;
    justify-content: center;
    color: var(--main-color);
    fill: var(--main-color);
}

.more .btn-more a:hover{
    color: var(--text-color);
    fill: var(--text-color);
}

.customers{
   
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    /* gap: 1.5rem; */
    justify-content: center; 
    margin: 2rem auto;
    padding: 50px 100px;
   
}

.customers h2{
   
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.container-customers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    width: 100%;
    /* border: solid red; */
}

.box-customers{

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    width: 300px;
    height: 300px;
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    padding: 20px;

}

.box-customers:hover{
    box-shadow: var(--box-shadow-hover);
    animation: bounce 1s infinite alternate-reverse;
    
}
@keyframes bounce {
    from {
        transform: translateY(-1.2rem) scale(1);
        
    }
    to {
        transform: translateY(0) scale(1);
     
    }
    
}

.box-customers .star-color{
    fill: var(--main-color);
}
.box-customers p{
    font-size: 0.938rem;
    letter-spacing: 0.1rem;
}

.box-customers h3{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}
.box-customers img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

footer{
    width: 100vw;
    padding: 50px 10px;
    background:#e0dbd527;

    /* border: solid red; */
}

footer .footer-information{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-information .text-communication, .support, .guides, .contacts{

    width: 300px;
    height: 210px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 0.5px solid var(--main-color);
}


.text-communication .social-medias{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    gap: 10px;
    align-items: center;
}

.social-medias .icon-midia{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--second-color);
    border-radius: 4px;
    fill: var(--text-color);
}

.social-medias .icon-midia:hover{
    background: var(--main-color);
    fill: var(--bg-color);
    cursor: pointer;
}

.support ul li {
    margin-bottom: 5px;
}

.guides ul li {
    margin-bottom: 5px;
}

.support ul li a, .guides ul li a  {
    color: var(--text-color);
}

.support ul li a:hover{
    font-weight: 600;
}

.guides ul li a:hover{
    font-weight: 600;
}

.contacts .container-contact{
    display: flex;
    gap: 10px;
    align-items: center;
}

.contacts .container-contact .icon-contact{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}


